{%extends "usuario/base.html"%}

{%block titulo%}
Remover usuario
{%endblock titulo%}


{%block conteudo%}

<div class="card">
    <div class="card-header">
        Dados do usuario:
    </div>
    <div class="card-body">
        <div h5 ="card-title">Nome: {{usuario.nome}}</div>
        <div h5 ="card-title">Sexo: {{usuario.sexo}}</div>
        <div h5 ="card-title">Data de Nascimento: {{usuario.data_nascimento}}</div>
        <div h5 ="card-title">cpf: {{usuario.cpf}}</div>
        <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>
{%endblock conteudo%}