{%extends "usuario/base.html"%}

{%block titulo%}
Listar usuário por CPF
{%endblock titulo%}

{%block conteudo%}
<div class="card">
    <div class="card-header">
        Dados do cliente:
    </div>
    <div class="card-body">
        <div h5 ="card-title">Nome: {{usuario.nome}}</div>
        <div h5 ="card-title">Sexo: {{usuario.nome}}</div>
        <div h5 ="card-title">Data de Nascimento: {{usuario.data_nascimento}}</div>
        <div h5 ="card-title">CPF: {{usuario.cpf}}</div>
    </div>
</div>

{%endblock conteudo%}